@charset "UTF-8";


.cc-h1 {
  font-size: 1.5em;
  line-height: 0.65em;
  color: #a1e9ff;
  /* text-shadow: 5px 5px 7px #adb4d86e; */
}

.cc-title {
  font-size: 0.5em;
  letter-spacing: 0.05em;
  line-height: 0.20em;
  color: white;
  text-shadow: 2px 2px 5px #444;
}

@media (max-width: 1023px) {
  .cc-title {
    font-size: 30px;
    line-height: 1.2em; } }
@media (max-width: 767px) {
  .cc-title {
    font-size: 22px;
    line-height: 30px; } }
@media (max-width: 1023px) {
  .cc-title + .h-decor {
    font-size: 22px;
    position: relative;
    top: -5px; } }
@media (max-width: 767px) {
  .cc-title + .h-decor {
    top: -10px; } }
@media (max-width: 575px) {
  .cc-title + .h-decor {
    position: relative;
    top: -10px; }
  }
.cc-caps {
  text-transform: uppercase;
  letter-spacing: 1px;
}
