@charset "UTF-8";


.cc-h1 {
  font-size: 0.75em;
  line-height: 0.65em;
  color: #a9df03;
  text-shadow: 2px 2px 5px #3d4c3a;
}

.cc-title {
  font-size: 0.45em;
  letter-spacing: 0.05em;
  line-height: 0.20em;
  color: white;
  text-shadow: 2px 2px 5px #444;
}

@media (max-width: 1023px) {
  .cc-title {
    font-size: 30px;
    line-height: 1.2em; } }
@media (max-width: 767px) {
  .cc-title {
    font-size: 22px;
    line-height: 30px; } }
@media (max-width: 1023px) {
  .cc-title + .h-decor {
    font-size: 22px;
    position: relative;
    top: -5px; } }
@media (max-width: 767px) {
  .cc-title + .h-decor {
    top: -10px; } }
@media (max-width: 575px) {
  .cc-title + .h-decor {
    position: relative;
    top: -10px; }
  }
.cc-caps {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.slick-slide .cc-main-logo {
    width: 35%;
    margin: 0 auto;
    padding-bottom: 30px;
}
@media (max-width: 767px) {
  .slick-slide .cc-main-logo {
      width: 85%;
      margin: 0 auto;
      padding-bottom: 30px;
  }
  .cc-h1 {
    font-size: 1.35em;
  }
  .cc-head-shot {
    max-width: 60%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
